@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Box-sizing reset (https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/) */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html {
	font-family: "Open Sans", sans-serif;
}
#container {
	width: 80%;
	margin: 0 auto;
}
.tabs {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
  }
  
  .tabs ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
  }
  
  .tabs ul li {
	display: inline-block;
	margin-right: 10px;
  }
  
  .tabs ul li a {
	text-decoration: none;
	padding: 5px 10px;
	background-color: #f2f2f2;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 5px 5px 0 0;
  }
  
  .tabs ul li a:hover {
	background-color: #e0e0e0;
  }
  
  .tabs div[role="tabpanel"] {
	display: none;
	padding: 10px;
  }
  
  .tabs div[role="tabpanel"].active {
	display: block;
	border-top: 1px solid #ccc;
  }
  